	/*
	To change this license header, choose License Headers in Project Properties.
	To change this template file, choose Tools | Templates
	and open the template in the editor.
	*/
	/* 
		Created on : 27 Nov, 2017, 12:40:35 PM
		Author     : azher
	*/
	html body{
		font-size: 14px;
		overflow-x: hidden;
			}
	.navbar-default {
		background-color: #336699;
        border-color: #336699;
		border-radius: 0px;
		z-index: 40;
		position: relative;
	}
	.navbar-default .navbar-nav > li > a {
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
	}
	.navbar-default .navbar-nav > li > a:hover {
		background-color: #fff;
	}
	.menu.dropdown-menu {
    background-color: rgba(242,242,242,.9);
    text-align: center;
    border: 2px solid #93773a;
}
	.menu.dropdown-menu li, .dropdown-menu > li > a {
    padding: 5px;
	outline: 1px solid darkgray;
}
	.menu.dropdown-menu li a:hover {
    background-color: #336699;
    color: #fff;
}
	.path-frontpage .view-content .views-row .views-col {
		padding: 30px;
		min-height: 512px;
		/*box-shadow: 0px 0px 0px 1px #a78b4d;*/
	   /* box-shadow: 5px 5px #f4f4f4, -5px -5px #f4f4f4, 0px 0px 5px 5px #777;*/
	  /* outline-offset: -15px;
       outline: 2px solid #a78d49;*/
	}
	.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus{
		background-color: #a78d49;
	}
	.path-splash .slick-list .slick-track .slick__slide h3 {
		text-transform: uppercase;
		text-align: center;
	}
	.path-splash .slick-list .slick-track .slick__slide p {
		 text-align: center;
		 margin-top: 15px;
	}
	.path-splash .slick-list .slick-track .slick__slide .views-field.views-field-body .field-content {
		background-color: #336698;
		color: #fff;
		padding: 15px;
		min-height: 150px;
	}
	.path-splash .slick-dots {
		background-color: #fff;
		padding: 10px;
	}
	.path-splash .slick__arrow{
		top: 100%;
		margin-top: 3px;
	}
	.path-splash .slick-arrow::before {
		color: #333;
		font-size: 2.5rem;
	}
	.footer_block ul {
		list-style-type: none;
		display: flex;
		color: #336698;
		width: auto;
		margin: 0 auto;
        text-align: center;
	}
	.footer_block ul li {
		width: 100%;
		text-align: center;
		font-size: 18px;
		font-weight: bold;
		display: block;
		margin: 0 auto;
	}
	.reservation, .call, .events, .location {
		border-right: 2px solid #336698;
	}
	.path-frontpage .view.view-restaurant .views-field.views-field-title span a {
		text-transform: uppercase;
		font-size: 18px;
		color: #336699;
		font: 100%/1.6 Arial,Helvetica,sans-serif;
		font-weight: bold;
	}
	.path-frontpage .view.view-restaurant .views-field.views-field-field-image {
	   height: 265px;
	   margin-bottom: 15px;
	}
	/*.path-frontpage .views-view-grid.horizontal.cols-2.clearfix .views-row {
		padding: 30px;
	}*/
	.path-frontpage .view.view-restaurant .views-field.views-field-title{
		margin-bottom: 10px;
	}
	form#user-login-form, form#user-register-form, form#user-pass {
		width: 27%;
		margin: 0 auto;
	}
	.path-user label.control-label.js-form-required.form-required, #block-logout h2.block-title {
		display: none;
	}
	.form-control{
		border-radius: 0;
		webkit-box-shadow: none;
		box-shadow: none;
		width: 52%;
		margin: 0 auto;
		border: 2px solid #336699;
	}
	.path-user button#edit-submit {
		width: 52%;
		border-radius: 0px;
		background-color: #336699;
		border: 0px;
		font-size: 18px;
		text-transform: uppercase;
		text-align: center;
		color: #fff;
		margin: 0 auto;
        display: block;
	}
	.path-user .footer h2.block-title, #block-welcomeappheader h2.block-title {
		display: none;
	}
	.footer{
		border-top: 0px solid #E5E5E5;
		padding-top: 0;
	}
	.footersignin, p.footerdesc {
		text-align: center;
	}
	section#block-userfooter .footersignin ul li {
		width: 26%;
		margin: 0px auto;
		text-align: center;
		border: 2px solid #336699;
		height: auto;
		padding: 10px;
		margin-right: 37%;
		display: block;
		position: relative;
		right: 1%;
		color: #336699;
		cursor: pointer;
	}
	section#block-userfooter .footersignin ul li:hover{
		background-color:#336699;
		color:#fff;
	}
	.path-user .btn.icon-before .glyphicon, .path-user h1.page-header, .user-register-form.user-form .form-item.form-type-textfield label.control-label, .path-node.page-node-type-restaurant .group-middle .field--type-text-with-summary p img{
			display: none;
	}
/***********************Form**********************/	
	.page-header {
    text-transform: uppercase;
    color: #336699;
    font-size: 24px;
   }
   label{
	    color: #336699; 
		width:auto;
		text-transform: uppercase;
   }
   #my-profile-form{
	   margin: 0 auto;
	  display: block;
	  text-align: center;
   }
   .path-myprofile-edit .form-group{
	margin: 0 auto;
	text-align: left;
	display: inline-grid;
	width: 40%;
}
.path-myprofile-edit .form-type-email{
    position: relative;
	top: -6px;
    }
.path-myprofile-edit #edit-actions {
    margin-bottom: 10%;
}
.path-myprofile-edit .form-type-textarea {
    width: auto;
    max-width: 80%;
	margin: 0 auto;
	display: block;
	text-align: left;
}
	  .path-myprofile-edit .form-control{
		  width: 100%;
		  height: auto;
	  }
	  .path-myprofile-edit .btn-success {
		  color: #ffffff;
		  background-color: #336699;
		  border-color: #ccc;
		  position: relative;
		  top: 100px;
		  width: auto;
		  margin: 0 auto;
		  display: block;
		  border-radius: 0px;
	  }
	  .path-myprofile-edit .form-control{
	  color: #336699;
	  background-color: transparent;
	  float: right;
	  margin-bottom: 20px;
	  }
	  .form-control:focus {
		  border-color: #336699;
		  outline: 0;
		 box-shadow: unset;
	  }
/***********************Form**********************/	
	li.facebook::after {
		font-family: FontAwesome;
		content: "\f09a";
		position:absolute;
		color:#336699;
		border:1px solid #336699;
		padding:10px 15px;
		text-align:center;
		}
		li.facebook:hover::after {
		font-family: fontawesome;
		content: "\f09a";
		position: absolute;
		background-color: #336699;
		color: #fff;
		border: 1px solid #fff;
		padding: 10px 15px;
		text-align: center;
	}
		li.twitter::after {
		font-family: FontAwesome;
		content: "\f099";
		position:absolute;
		color:#336699;
		border:1px solid #336699;
		padding:10px 15px;
		text-align:center;
		}
		li.twitter:hover::after {
		font-family: fontawesome;
		content: "\f099";
		position: absolute;
		background-color: #336699;
		color: #fff;
		border: 1px solid #fff;
		padding: 10px 15px;
		text-align: center;
	}
		li.google::after {
		font-family: FontAwesome;
		content: "\f1a0";
		position:absolute;
		color:#336699;
		border:1px solid #336699;
		padding:10px 15px;
		text-align:center;
		}
		li.google:hover::after {
		font-family: fontawesome;
		content: "\f1a0";
		position: absolute;
		background-color: #336699;
		color: #fff;
		border: 1px solid #fff;
		padding: 10px 15px;
		text-align: center;
	}
		.path-user .footer ul li {
		width: auto;
		display: inline-flex;
		padding: 0px 25px;
	}
	  .footersocial ul {
		  text-align: center;
		  display: block;
		  margin-right: 6%;
	  }
	  .footersocial {
		  margin: 25px auto;
	  }
	  p.footerdesc{
		  margin-bottom: 20px;
	  }
	  .path-user .logoheader {
		  margin: 15px;
	  }
	  #user-pass p, .forgotpwd p {
		  font-size: 10px;
		  text-align: center;
	  }
	  .path-user .forgotpwd h3 {
		  text-transform: uppercase;
		  font-size: 20px;
	  font-weight: bold;
	  text-align: center;
	  }
	  .path-user .forgotpwd {
		  text-align: center;
		  margin: 30px auto;
	  }
	  .reservation::before {
		  font-family: FontAwesome;
		  content: "\f0f5";
		  display: inherit;
		  position: relative;
		  font-size: 45px;
		  color:#336698;
	  }
	  .call::before {
		  font-family: FontAwesome;
		  content: "\f095";
		  display: inherit;
		  position: relative;
		  font-size: 45px;
		  color:#336698;
	  }
	  .events::before {
		  font-family: FontAwesome;
		  content: "\f19c";
		  display: inherit;
		  position: relative;
		  font-size: 45px;
		  color:#336698;
	  }
	  .location::before {
		  font-family: FontAwesome;
		  content: "\f041";
		  display: inherit;
		  position: relative;
		  font-size: 45px;
		  color:#336698;
	  }
	  .chat::before {
		  font-family: FontAwesome;
		  content: "\f0e5";
		  display: inherit;
		  position: relative;
		  font-size: 45px;
		  color:#336698;
	  }
	  .chat:hover::before, .location:hover::before, .events:hover::before, .call:hover::before, .reservation:hover::before, .chat:hover, .location:hover,       .events:hover, .call:hover, .reservation:hover{
		   color:#fff;
		   background-color:#336698;
	  }
	  .title2 {
	  margin-bottom: 20px;
	  color: #336699;
	  }
	  .title {
	  margin-top: 20px;
	  color: #336699;
	  }
	  .welcomeapp ul li.getstarted {
    border: 2px solid #336699 !important;
    color: #336699;
	cursor: pointer;
}
	  .welcomeapp ul li.getstarted:hover {
	  background-color: #336699;
	  color: #fff;
  }
  .page-node-type-restaurant .view-content .views-field-field-gallery-image img {
		  display: inline;
		padding: 5px;
		border: 2px solid dimgrey;
		margin-bottom: 10px;
  }
  .page-node-type-restaurant .view-content .views-field-field-gallery-image:hover img{
	 /*   border-radius:30%;	*/
  }
  .page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body h3{
	  position: relative;
	  color: #000;
	  top: -200px;
	  font-weight:bold;
	  font-size:36px;
	  text-align: center;
	  margin: 0 auto;
	  display: block;
  }
  .page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body p {
	  position: relative;
	  color: #ccc;
	  top: -185px;
	  font-size: 18px;
	  text-align: center;
	  margin: 0 auto;
	  display: block;
  }
/*.edge-edge {
    width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}*/
.group-header .slick-arrow{
	width: 88px;
}
  .group-header .slick-arrow::before {
	  color: #fff;
	  font-size: 3.25rem;
  }
  .more-link.form-group a {
	  float: right;
	  position: relative;
	  right: 8%;
	  text-decoration: none;
	  margin-top: -9%;
	  color: #fff;
	  font-weight: bold;
	  font-size: 16px;
	  border: 2px solid #000;
	  padding: 5px;
  }
   .path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title{
    background-color: #93773a;
    width: 10%;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    padding: 8px;
	  margin-bottom: 30px;
    border: 2px double #ccc;
    font-weight: bold;
    color: #fff;
}
.path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title::after{
	  width: 0;
	  height: 0;
	  content: '';
	  z-index: 2;
	  border-top: 1.5em solid #93773a;
	  border-left: 1em solid transparent;
	  border-right: 1em solid transparent;
	  position: absolute;
	  left: 3.8%;
	  bottom: 33.5%;
}
.user-logged-in.path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title::after{
	bottom: 83%;
}
.slick-dots li button::before {
    font-size: 1.5rem;
	color: #336699;
	opacity: unset;
}
.slick-dots li.slick-active button::before {
    color: transparent;
    border: 2px solid #336698;
    border-radius: 50%;
}
.path-gallery .views-field-field-gallery-image img {
    display: inline;
	text-align: center;
    position: relative;
    padding: 25px;
    border-radius: 50%;
    margin-bottom: 10px;
    margin-right: 15px;
   	outline-style: none;
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
.path-gallery .views-field-field-gallery-image img:hover{
	 -webkit-transform: scale(1);
	-moz-transform: scale(1);
	position: relative;
	z-index: 5;
	outline-style: none;
	-webkit-transition: -webkit-transform .15s linear;
	-webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 5.25);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
.path-gallery h1.page-header {
    text-transform: uppercase;
    text-align: center;
}
#user-pass #edit-actions {
    margin-bottom: 20px;
}
.path-mysettings .settingspage a, p.logout a{
    text-decoration: none;
}
p.logout a{
	color: #336699;
}
.logout:hover, .logout:hover a, .logout:hover::before{
	background-color: #336699;
	color: #fff;
}
.path-mysettings .settingspage li {
    list-style-type: none;
    text-transform: uppercase;
	font-size: 21px;
	color:#336699;
	border-bottom:1px solid #336699;
	padding: 20px;
	position: relative;
    padding-left: 13%;
}
.rest::before {
    font-family: FontAwesome;
    content: "\f19c";
    position: absolute;
    color: #336699;
    font-size: 30px;
    left: 5%;
}
.mybook::before {
    font-family: FontAwesome;
    content: "\f0f5";
    position: absolute;
    color: #336699;
    font-size: 30px;
    left: 5%;
}
.myoffer::before {
    font-family: FontAwesome;
    content: "\f295";
    position: absolute;
    color: #336699;
    font-size: 30px;
    left: 5%;
}
.mymesg::before {
    font-family: FontAwesome;
    content: "\F0E0";
    position: absolute;
    color: #336699;
    font-size: 30px;
    left: 5%;
}
.setting::before {
    font-family: FontAwesome;
    content: "\F013";
    position: absolute;
    color: #336699;
    font-size: 30px;
    left: 5%;
}
.rest::after, .mybook::after, .myoffer::after, .mymesg::after, .setting::after {
    font-family: FontAwesome;
    content: "\f105";
    position: absolute;
    color: #336699;
    font-size: 30px;
    right: 5%;
}
.path-mysettings .profileblock, .path-myprofile-edit .profileblock {
    background-color: #336699;
	padding: 20px;
	margin-bottom: 3%;
}
.path-mysettings .profileblock img, .path-myprofile-edit .profileblock img{
	width:10%;
	border-radius: 50%;
    border: 10px double #fff;
}
.path-mysettings .js-quickedit-page-title.page-header {
    font-size: 0;
}
.profileblock h3{
    margin-left: 10%;
    font-weight: bold;
	display: inline;
	position: absolute;
	top: 6%;
	left: 12%;
	color: #fff;
}
.profileblock p {
	display: inline;
	position: absolute;
	top: 18%;
	left: 23%;
	overflow: hidden;
	z-index: 2;
	color: #fff;
}
.path-myprofile-edit .profileblock p{
	top: 50%;
}
.path-myprofile-edit .profileblock h3{
	top: 15%;
}
.footer .logout {
    padding: 10px;
    border: 2px solid #336699;
    width: 15%;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 0px;
	text-transform: uppercase;
}
.footer .logout::before {
    font-family: FontAwesome;
    content: "\f08b";
    position: absolute;
    color: grey;
    margin-left: -15px;
}
	  /***********************Media Queries**************************/
	  @media (max-width: 320px){
		  .logoheader img.logo1 {
    width: auto;
}
		  .path-user button#edit-submit {
    width: 100%;
  }
		.path-splash .slick-list .slick-track .slick__slide .views-field.views-field-body .field-content{
			min-height: 250px;
		}
		.slick-slider .slick-track, .slick-slider .slick-list{
		   margin-bottom: 5px; 
		}
		.logoheader img, .logos img{
		width: 70%;
	}
	  .welcomeapp li.getstarted {
		  width: 70% !important;
	  }
	  .title2 {
	  font-size: 18px !important;
	  }
	  .title {
		  font-size: 14px !important;
	  }
	  form#user-login-form, form#user-register-form, form#user-pass {
		  width: 55%;
		  margin: 0 auto;
	  }
	  section#block-userfooter .footersignin ul li{
		  width: auto;
		  margin-top: 20px;
	  }
	  .footersocial ul{
		  margin-right: 20%;
	  }
	  .tabs .nav > li > a{
		  padding: 3px;
		  font-size: 12px;
		  color: #000;
	  }
	  .path-user .forgotpwd h3, .path-frontpage .view.view-restaurant .views-field.views-field-title span a{
		 font-size:14px;	
	  }
	  .path-frontpage .view.view-restaurant .views-field.views-field-field-image{
		  height: auto;
	  }
	  .path-frontpage .view.view-restaurant .views-field.views-field-body {
		  font-size: 10px;
	  }
	  .footer{
		  margin-top: 0px;
		  padding-bottom: 0px;
	  }
	  .reservation, .call, .events, .location, .chat {
		  font-size: 10px !important;
  } 
  .reservation::before, .call::before, .events::before, .location::before, .chat::before{
	  font-size: 20px;
  }
  .more-link.form-group a{
	  margin-top: -40%;
	  right: 30%;
  }
  .page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body p{
	  top: 0px;
	  font-size: 10px;
  }
  .page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body h3{
	  top: 0px;
	  font-size: 21px;
	  margin-top: -75px;
  }
  .path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title{
	  width: 30%;
  }
  .path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title::after{
	display:none;
  }
  .form-control{
	  width: 100%;
  }
  section#block-userfooter .footersignin ul li {
    width: 60%;
    margin-top: 20px;
    display: block;
    text-align: center;
    margin: 15px auto;
    cursor: pointer;
	position: relative;
	right: 4%;
}
	  }
	  
  @media screen and (min-width:321px) and (max-width: 500px ){
	  .logoheader img.logo1 {
    width: auto;
}
	  .form-control{
	  width: 100%;
  }
  .path-user button#edit-submit {
    width: 100%;
  }
	  .path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title::after{
			display:none;
	  }
	  .page-node-type-restaurant .view-content .views-field-field-gallery-image img, .path-gallery .views-field-field-gallery-image img{
		  display: block;
		  margin: 10px auto;
	  }
	  .path-splash .slick-list .slick-track .slick__slide .views-field.views-field-body .field-content{
			min-height: 250px;
		}
	  .slick-slider .slick-track, .slick-slider .slick-list{
			 margin-bottom: 5px; 
		  }
	  .path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title{
		  width: 30%;
	  }
	  .user-logged-in.path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title::after {
         bottom: 95%;
     }
	  .logoheader img, .logos img{
		  width: 95%;
	  }
	  .page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body p {
    top: 0px;
    font-size: 10px;
}
.page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body h3 {
    top: 0px;
    font-size: 21px;
    margin-top: -75px;
}
.more-link.form-group a {
    margin-top: -30%;
    right: 35%;
}
	   .welcomeapp li.getstarted {
		  width: 90% !important;
	  }
	  form#user-login-form, form#user-register-form, form#user-pass {
		  width: 75%;
		  margin: 0 auto;
	  }
	  section#block-userfooter .footersignin ul li{
		 width: 80%;
		margin-top: 20px;
		left: 7%;
	  }
	  .footersocial ul{
		  margin-right: 20%;
	  }
	  .tabs .nav > li > a{
		  padding: 3px;
		  font-size: 12px;
		  color: #000;
	  }
	  .path-frontpage .view.view-restaurant .views-field.views-field-field-image{
		  height: auto;
	  }
	  .path-user .forgotpwd h3, .path-frontpage .view.view-restaurant .views-field.views-field-title span a{
		 font-size:16px;	
	  }
	  .path-frontpage .view.view-restaurant .views-field.views-field-body {
		  font-size: 12px;
	  }
		  .footer{
		  margin-top: 0px;
		  padding-bottom: 0px;
	  }
	  .reservation, .call, .events, .location, .chat {
		  font-size: 10px !important;
  } 
  .reservation::before, .call::before, .events::before, .location::before, .chat::before{
	  font-size: 20px;
  }
  }
  @media screen and (min-width:501px) and (max-width: 767px ){
	  .form-control{
		 width: 100%; 
	  }
	   .path-user button#edit-submit {
    width: 100%;
  }
	.page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body p {
		top: -30px;
		font-size: 10px;
	}
	.page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body h3 {
		top: -40px;
		font-size: 21px;
		margin-top: -75px;
	}
	.path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title{
		width: 25%;
	}
	.user-logged-in.path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title::after {
        bottom: 95%;
	}
	.path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title::after{
		   display: none;
	}
	.page-node-type-restaurant .view-content .views-field-field-gallery-image img, .path-gallery .views-field-field-gallery-image img{
		  display: block;
		  margin: 10px auto;
	}
	.more-link.form-group a{
		right: 35%;
		margin-top: -15%;
	}
	  .path-splash .slick-list .slick-track .slick__slide .views-field.views-field-body .field-content{
			min-height: 250px;
		}
	  .slick-slider .slick-track, .slick-slider .slick-list{
			 margin-bottom: 5px; 
		  }
	  section#block-userfooter .footersignin ul li{
		  margin: 15px auto;
		  width: 52%;
		  right: 2%;
	  }
	  form#user-login-form, form#user-register-form, form#user-pass {
		  width: 50%;
		  margin: 0 auto;
	  }
	  .path-frontpage .view.view-restaurant .views-field.views-field-field-image{
		  height: auto;
	  }
	  .path-user .forgotpwd h3, .path-frontpage .view.view-restaurant .views-field.views-field-title span a{
		 font-size:16px;	
	  }
	  .path-frontpage .view.view-restaurant .views-field.views-field-body {
		  font-size: 12px;
	  }
		  .footer{
		  margin-top: 0px;
		  padding-bottom: 0px;
	  }
	  .reservation, .call, .events, .location, .chat {
		  font-size: 10px !important;
  } 
  .reservation::before, .call::before, .events::before, .location::before, .chat::before{
	  font-size: 20px;
  }
  .welcomeapp li.getstarted {
		  width: 70% !important;
	  }
  }
  @media screen and (min-width:768px){
	  .path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title{
		 width: 15%; 
	  }
	  .path-gallery .views-field-field-gallery-image img{
		   margin: 10px auto;
	  }
	  .page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body p{
		 top: 0;
		 margin-top: -100px; 
	  }
	  .page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body h3{
		  top: -115px;
	  }
	  .path-node.page-node-type-restaurant .group-footer .views-element-container h2.block-title::after{
		display:none;
	  }
	  .more-link.form-group a{
		 right: 6%;
		 color: #000; 
	  }
	  .welcomeapp li.getstarted {
		  width: 45%;
	  }
	  .slick-slider .slick-track, .slick-slider .slick-list{
			 margin-bottom: 5px; 
		  }
	  section#block-userfooter .footersignin ul li{
		  margin: 0 auto;
	  }
	  form#user-login-form, form#user-register-form, form#user-pass {
		  width: 50%;
		  margin: 0 auto;
	  }
	  .path-frontpage .view.view-restaurant .views-field.views-field-field-image{
		  height: auto;
	  }
  }
  @media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #333333;
    outline: 1px solid darkgray;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ccc;
    background-color: #93773a;
  }
  .path-myprofile-edit .profileblock h3 {
    top: 0;
}
.path-myprofile-edit .form-type-email {
    position: relative;
    top: 0;
}
  .profileblock h3{
	  top: 0;
	  left: 15%;
	  font-size: 16px;
  }
  .profileblock p{
	  top: 10%;
	  left: 25%;
	  font-size: 10px;
  }
.rest::before, .mybook::before, .myoffer::before, .mymesg::before, .setting::before{
	font-size: 20px;
    left: 0;
}
.footer .logout{
	width: 35%;
}
#edit-picture {
    width: auto;
}
  }
  @media screen and (min-width:1200px){
	  .page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body p{
		 top: 0;
		 margin-top: -150px; 
	  }
	  .page-node-type-restaurant .slick-list .slick-track .views-field.views-field-body h3{
		  top: -165px;
	  }
  }
